# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

# Presentation crap
*.html
*.md

# Raw data
data/initial_data.tsv
data/benchmark_data.tsv
*.RData